@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Chivo|Lobster+Two|Mada');

@import url('https://fonts.googleapis.com/css?family=Courgette|Gochi+Hand|Kalam');

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: 'Architects Daughter', cursive;
}

.nav.navbar-nav.navbar-right ul li a {
    color: black;
    font-family: 'Architects Daughter', cursive;
}
 
.row{
    background-color:#FF1919;
    /* font-weight: bolder; */
    padding-right: 10px;
}

.one{
    font-family: 'Architects Daughter', cursive;
    color: #015A9C;
    padding-top: 8%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.logo{
    height:250px;
    width:200px;
}

.intro{
    font-size: 3em;
}

li{
    font-size: 1.3em;
}
.org{
    font-family: 'Chivo', sans-serif;
    font-size: 1.3em;
}

.two{
    font-family: 'Kalam', cursive;
    margin:40px 0;
    background-color: WHITE;
    border:5px solid #FF1919;
    color:#015A9C;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 2px black;
    box-shadow: 3px 3px 3px #333745;
}

.title{
    font-weight: 600;
    color:;
    text-shadow: 1px 1px black;
}

.blurb{
    font-size: 1.8em;
    width:100%;
}

span{
    font-weight:700;
    color:#FF1919;
}

.help{
    padding:40px 20px;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

p a{
    color:#FF1919;
}

p a:hover{
    color:#FF1919;
}

.donate{
    background-color:#015A9C;
    padding:15px;
    margin:10px;
    border-radius: 20px;
}

/* EVERYTHING BELOW THIS LINE FOR FRAMEWORK */

.footer{
    background-color:#FF1919;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width:100%;
    position:static;
    font-family: 'Architects Daughter', cursive;
    color:white;
    font-size: 1.3em;
    padding-top:8px;
}

.ackn a{
    color:white;
}

.ackn a:hover{
    color:white;
    text-decoration: overline;
}

@media screen and (min-width: 320px) and (max-width:580px) {
    #page {
        background: url("images/logo.png") repeat-x;
    }
}

@media screen and (max-width:959px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
}

@media screen and (max-width:640px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }

}

@media screen and (max-width:320px) {
    .container-fluid {
        width: 320px;
    }
    body {
        width: 100%;
    }
    .one{
        padding-top:15%;
        font-size:.5em;
    }
}